@model BMI.Models.CalculateBMI


@*@Html.Partial("_BMI")*@
@*@Html.Partial("_BMIResult")*@

@using (Html.BeginForm("BMIResult", "Home"))
{
    @Html.ValidationSummary(true)
    <form class="form-horizontal form-inline">
        <fieldset>
            <div class="row">
                <div class="col-md-8 col-md-offset-2"
                     style="margin-top:30px; border: 1px solid #ccc; padding-bottom:20px; padding-top:10px;  box-shadow:5px 5px 10px rgba(0,0,0,.6)">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">BMI</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class='row'>
                                        <div class='col-xs-6 col-sm-5'>
                                            <div class="form-group">
                                                @Html.LabelFor(b => b.Weight)
                                                @Html.TextBoxFor(b => b.Weight, new { @class = "form-control", placeholder = "Enter Weight" })
                                                @Html.ValidationMessageFor(b => b.Weight)
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="form-group">
                                                @Html.Label(" ")
                                                @Html.DropDownListFor(b => b.WtUnit, BMI.Models.CalculateBMI.GetWtUnitSelectItems(), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row heightFIPop"></div>
                                    <div class='row'>
                                        <div class='col-xs-6 col-sm-5'>
                                            <div class="form-group" style="font: bolder;">
                                                @Html.LabelFor(b => b.Height)
                                                @Html.TextBoxFor(b => b.Height, new { @class = "form-control", placeholder = "Enter Height" })
                                                @Html.ValidationMessageFor(b => b.Height)
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <div class="form-group">
                                                @Html.Label(" ")
                                                @Html.DropDownListFor(b => b.HtUnit, BMI.Models.CalculateBMI.GetHtUnitSelectItems(), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-10 col-sm-3">
                                <div class="row" style="margin-top: 40px">
                                    <button class="btn btn-bmi" type="submit">&nbsp;&nbsp;&nbsp;BMI&nbsp;&nbsp;&nbsp;</button>
                                    <button class="btn btn-bmi" type="reset">&nbsp;&nbsp;Reset&nbsp;&nbsp;</button>
                                </div>
                            </div>

                            <div class="col-xs-3" style="margin-top: 2%;">
                                <div id="chart-pyramid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
}
@* Chart script *@
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
<script type="text/javascript">
        FusionCharts.ready(function(){
        var fusioncharts = new FusionCharts({
        type: 'pyramid',
        renderAt: 'chart-pyramid',
        id: 'wealth-pyramid-chart-2',
        width: '500',
        height: '400',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "theme": "fint",
                "caption": "BMI Chart",
                "captionOnTop": "0",
                "captionPadding": "25",
                "alignCaptionWithCanvas": "1",
                "borderAlpha": "20",
                "is2D": "1",
                "bgColor": "#ffffff",
                "showValues": "0",
                "numberPrefix": "$",
                "numberSuffix": "M",
                "plotTooltext": "$label",
                "showPercentValues": "1",
                "chartLeftMargin": "40",
                "showLabels": "0",
                "showLegend": "1",
                "legendPosition": "RIGHT"
            },
            "data": [{
                      "label": "Underweight (0 - 18.5)",
                      "value": "70"
                     },
                    {
                        "label": "Healthy (18.5 - 24.9)",
                        "value": "50.9"
                    },
                    {
                        "label": "Overweight (24.9 - 29.9)",
                        "value": "40"
                    },
                    {
                        "label": "Obese (> 30)",
                        "value": "30"
                    }]
                    }

         });
        fusioncharts.render();
        });
</script>